<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/showdata/add/" method="post">
    {%csrf_token%}
    <label>学生姓名:</label><input type="text" name="name"/><br/>
    <label>性别:</label>
    <input type="radio" value="男" name="gender" />男
    <input type="radio" value="女" name="gender" />女
    <br/>
     <label>年龄:</label>
        <input type="text" name="age"/><br/>
    <label>地址:</label>
        <input type="text" name="address"/><br/>
        <input type="submit" value="添加学生"/>
    </form>
<a href="/showdata/delete/?id=pl2">删除学生</a>
</body>
</html>